* {
    text-align: center;
    font-family: 'Syne Mono', monospace;
}

/* 
fancy: font-family: 'Dancing Script', cursive;
spooky: font-family: 'Syne Mono', monospace; 
*/

body {
    background: linear-gradient(black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange,black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange,black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange, black, white, orange,black, white, orange, black, white, orange, black, white, orange   );
}

h2 {
    margin: 5px;
}

h1, h2, h4, h6 {
     font-family: 'Dancing Script', cursive;

}

a {
    margin: 5px;
    padding: 5px;
}

.border {
    border: 5px solid;
    margin: 10px;
    padding: 10px 5px;
}

.tigerking {
    width: auto;
    height: auto;
}

.video{
   margin: 5px;
   padding: 5px;
}

article{
    background: white;
}

li {
    text-align: left;
}

.article-links {
    padding: 0;
}

form{
    background-color: white;
}

input{
    background-color: orange;
    opacity: 0.6;
}

img {
    background-color: white;
}

textarea {
    background-color: orange;
    opacity: 0.6;
    width: 80%;
}

button {
    background-color: orange;
    opacity: 0.6;
    color: black;
    border: 3px solid black;
    margin: 10px;
}

.form-input {
    margin: 5px;
}

iframe{
    background-color: white;
}

.vervelend {
    min-width: 50px;
    min-height: 50px;
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-gap: 3px;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: 1fr 0.5fr auto auto 1fr;
    grid-template-areas:  
        ". header header header header header ."
        ". nav nav nav nav nav ."
        ". main main main main main ."
        ". main main main main main ."
        ". footer footer footer footer footer ."
        ;
}

header {
    background-color: orange;
    grid-area: header;
    padding: 10px;
    margin: 5px;
}

.nav-links {
    padding: 10px
}

.site-nav {
    grid-area: nav;
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 93%;
    background-color: orange;
}

main {
    grid-area: main;
    background-color: orange;
}

footer{
    grid-area: footer;
    padding: 10px;
    margin: 10px;
    background-color: orange;
}

@media (min-width: 1024px) {

    .grid-container{
        display: grid;
        height: 100vh;
        grid-gap: 3px;
        grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
        grid-template-rows: 10% 5% auto auto 10%;
        grid-template-areas:  
            ". header header header header header ."
            ". nav nav nav nav nav ."
            ". main main main main main ."
            ". main main main main main ."
            ". footer footer footer footer footer ." 
            ;
    }
    main {
        grid-area: main;
        display: flex;
        justify-content: center;
    }

    body{
        background-color: blue;
    }
}
